.comparecard{
    width: 30% !important;
    padding: 5px;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comparecardimg{
    width:35% !important;
}

.comparecardcontainer{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 100%;
}