.css-pdct74-MuiTablePagination-selectLabel {
  padding-top: 10px !important;
}
.css-levciy-MuiTablePagination-displayedRows {
  padding-top: 12px !important;
}
.edit-pay {
  padding-left: 10px;
  padding-top: 2px;
  font-size: 17.5px;
  color: #1097ff;
}
